*{
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
}

@keyframes fadeOut{
   0% {opacity: 1;}
   100% {opacity: 0;}
}

header{
   padding: 10px;
}

button,[x-button]{
   border: 0;
   cursor: pointer;
   text-decoration: none;
   color: rgb(29, 29, 29);
   outline: none;
}

[x-button],.button-sd{
   padding: 5px;
   border-radius: 3px;
   margin: 5px;
   background-color: rgb(128, 0, 167);
   color: white;
   font-weight: 500;
   font-size: 14px;
   transition: background-color 0.5s;
}

[x-button]:hover,.button-sd:hover{
   background-color: rgb(96, 0, 126);
}

[disabled]{
   opacity: 0.8;
   cursor: not-allowed;
}

.targetToShow{
   display: none;
}
.targetToShow:target{
   display: block;
}

header *{
   font-weight: 400;
   font-size: 20px;
   color: grey;
}

#headerLeft *{
   display: inline-block;
}

#logo{
   width: 30px;
}

input,textarea{
   border: 0;
   outline: none;
   padding: 10px;
   border-bottom: 2px solid grey;
   transition: border-bottom 1s;
}

input:focus,textarea:focus{
   border-bottom: 2px solid rgb(128, 0, 167);
}

textarea{
   background-color: whitesmoke;
}

#register{
   display: none;
}

.button-style-grey{
   background-color: rgb(233, 233, 233);
   border-left: 2px solid transparent;
   transition: background-color 0.25s, border-left 0.5s;
   text-decoration: none;
   color: rgb(29,29,29);
   display: inline-block;
   padding: 10px;
   margin: 15px 0;
   display: block;
   box-shadow: 0 1px 2px 2px rgba(0,0,0,0.2);
}
.button-style-grey:hover,.button-style-grey-selected{
   border-left: 2px solid rgb(39, 39, 39);
   background-color: rgb(190, 190, 190);
}

td{
   padding: 20px 15px;
}
tr{
   border-collapse: collapse;
   border-bottom: 1px solid grey;
}


